/*Formatação da Extrutura */
*{
    margin: 0;
    padding: 0;
    
}
body {
     font-family: Arial, Helvetica, sans-serif;
}

header {
 background-color: rgb(147, 212, 192);
 height:  150px;
}
h1 {
    color: rgb(26, 26, 75);
    padding: 20px;
    box-sizing: border-box;
}

main {
    background-color: rgb(175, 179, 178);
    width: 70%;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

   

aside {
    background-color: rgb(231, 219, 241);
    width: 30%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: coral;
    margin: auto;
    text-align: center;
    padding: 10px 0;

    
}   
/* Componente Menu Principal   */
.caixa-menuprincipal {
    float: right;
}
.caixa-menuprincipal ul {
    list-style-type: none;
}
.caixa-menuprincipal ul li {
    display: inline-block;
    padding: 10px;
}

.caixa-menuprincipal ul li a {
    text-decoration: none;
    color: black;
    background-color: rgb(166, 166, 223);
    font-weight: bold;
    padding: 10px;
    
}

.caixa-menuprincipal ul li a:hover {
    background-color: blue;

}
/* Componente Postagem   */
.caixa-post {
margin-bottom: 20px;
clear: both;
}
.caixa-post img {
    display: block;
    float: left;
    width: 40px; 
    margin-right: 10px;

}
.caixa-post h4 {
    font-size: 60%;
    color: rgb(32, 32, 32);
    margin-bottom: 5px 0;
}
.caixa-post h4 span:nth-child(3) {
    background-color: gray;
    color: white;
    padding: 3px;
    border-radius: 5px;
}
.caixa-post p {
    font-size: 90%;
    color: rgb(13, 13, 17);
}

/* Componente Pesquisa   */
.caixa-pesquisa {
    margin-bottom: 30px;

}

/* Componente Categoria    */
.caixa-categoria ul {
    list-style-type: none;
    margin-left: 5px;

}
.caixa-categoria ul li a {
    color: blue;
    text-decoration: none;
}


